<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Lista de hospitales</title>
  <div th:insert="~{fragments/general.html :: estilo}"></div>
</head>
<body>

<div class="container">
  <div th:insert="~{fragments/general.html :: header}"></div>
  <div class="row mb-4">
    <div class="col-md-6 offset-md-3">
      <h2>Nuevo Estudiante</h2>
      <hr/>
      <div th:if="${msgDanger != null}" th:text="${msgDanger}" class="alert alert-danger" role="alert"></div>
      <form method="post" th:action="@{/estudiante/saveEstudiante}" th:object="${usuario}">

        <div class="mb-3">
          <label  class="form-label">DNI</label>
          <input type="text" class="form-control" th:field="*{dni}"
                 th:classappend="${#fields.hasErrors('dni')?'is-invalid':''}">
          <div class="invalid-feedback" th:if="${#fields.hasErrors('dni')}"
               th:errors="*{dni}" ></div>
        </div>

        <div class="mb-3">
          <label  class="form-label">Nombre</label>
          <input type="text" class="form-control" th:field="*{nombres}"
                 th:classappend="${#fields.hasErrors('nombres')?'is-invalid':''}">
          <div class="invalid-feedback" th:if="${#fields.hasErrors('nombres')}"
               th:errors="*{nombres}" ></div>
        </div>


        <div class="mb-3">
          <label  class="form-label">Apellido</label>
          <input type="text" class="form-control" th:field="*{apellidos}"
                 th:classappend="${#fields.hasErrors('apellidos')?'is-invalid':''}">
          <div class="invalid-feedback" th:if="${#fields.hasErrors('apellidos')}"
               th:errors="*{apellidos}" ></div>
        </div>


        <div class="mb-3">
          <label class="form-label">Edad</label>
          <input th:field="*{edad}" type="number" class="form-control"
                 th:classappend="${#fields.hasErrors('edad')?'is-invalid':''}"/>
          <div class="invalid-feedback" th:if="${#fields.hasErrors('edad')}"
               th:errors="*{edad}" ></div>
        </div>

        <div class="mb-3">
          <label class="form-label">Correo</label>
          <input th:field="*{correo}" type="email" class="form-control"/>
        </div>

        <div th:if="${flagedit == null}">
          <div class="mb-3">
            <label class="form-label">password</label>
            <input th:field="*{password}" type="text" class="form-control"/>
          </div>
        </div>
        <div th:if="${flagedit != null}">
            <input th:field="*{password}" type="hidden" class="form-control"/>
        </div>


        <a th:href="@{/estudiante/lista}" class="btn btn-danger">Cancelar</a>

        <div th:if="${flagedit == null}">
          <button type="submit" class="btn btn-primary">Crear nuevo student</button>
        </div>

        <div th:if="${flagedit != null}">
          <button type="submit" class="btn btn-primary">Editar student</button>
        </div>


      </form>
    </div>
  </div>
</div>


</body>
</html>